

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;;
}
h2{
    font-size: 40px;
}
.orange_color{
    color: orange;
}

.flexible_container{
    display: flex;
    margin-bottom: 150px;
    
}

p{
    text-align: justify;
}
.sec-1-half-width{
    padding-left: 10%;
    width: 50%;
}
.sec-1-half-width img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.sec-2-half-width{
    padding-right: 5%;
    width: 50%;
}

.sec-2-half-width img{
    width: 80%;
    padding-right: 10%;
}  
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}


.experience_item{
    padding: 30px;
    width: 40%;
    margin: 0 5% 0 5%;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}
.border_left_full{
    border-left: 10px solid blue;
}

.border_left_baby{
    border-left: 10px solid tomato;
}

footer p{
    text-align: center;
}