

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;;
}

.my_name{
    color: orange;
}

section{
    display: flex;
}
p{
    text-align: justify;
}
.sec-1-half-width{
    padding: 10%;
    width: 50%;
}
.sec-1-half-width-img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.sec-2-half-width{
    padding: 10%;
    width: 50%;
}
.sec-2-half-width-img{
    width: 80%;
    padding-left: 50px;
}
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}.